.eventCard {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.eventCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.eventImageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

/* 移除.eventTitle相关样式，因为我们不再需要它 */
